<!DOCTYPE html>
<html lang="en" class="theme theme--default">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React Webpack Setup</title>
</head>
<body class="main-information">
<section id="main">
    <header class="main-header">
        <div class="logo-container">
            <a href="#" class="main-logo">
                <img alt="logo" src=<%=require("../public/images/header/logo.svg").default%> >
            </a>
            <div class="switch-container">
                <span class="moon"></span>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <span class=" sun"></span>
                <span class="eye"></span>
            </div>

        </div>
        <div class="user-pref-container">
            <div class="user-container">
                <div class="user">
                    <img class="user-icon" alt="user-icon" src=<%=require("../public/images/header/user-icon.png").default%> >
                    <span class="user-name">Сергей</span>
                </div>
                <div class="bell-theme-container">
                    <div class="switch-container">
                        <span class="moon"></span>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <span class=" sun"></span>
                    </div>
                    <div class="bell-container">
                        <div class="bell-point-container">
                            <span class="bell"></span>
                            <div class="bell-point"></div>
                        </div>
                        <span class="notification-count">+1</span>
                    </div>
                </div>
            </div>
            <a class="button-link pref-container">
                <span class="pref"></span>
                <span>Настройки</span>
            </a>
        </div>
    </header>
    <h1>Braim</h1>
    <nav class="main-navigation">
        <ul class="nav-list">
            <li class="active">
                <a class="button-link">
                    <span class="profile" href="#"></span>
                    <span class="nav-item-name">Мой профиль</span>
                </a>
            </li>
            <li class="">
                <a class="button-link" href="#">
                    <span class="dashboard"></span>
                    <span class="nav-item-name">Дашборд</span>
                </a>
            </li>
            <li class="">
                <a class="button-link" href="#">
                    <span class="my-contacts"></span>
                    <span class="nav-item-name">Мои связи</span>
                </a>
            </li>
            <li class="">
                <a class="button-link" href="#">
                    <span class="messenger"></span>
                    <span class="nav-item-name">Мессенджер</span>
                </a>
            </li>
            <li class="">
                <a class="button-link" href="#">
                    <span class="achievements"></span>
                    <span class="nav-item-name">Достижения</span>
                </a>
            </li>
        </ul>
    </nav>
    <main class="main-area">
        <div class="main-inf">
            <div class="user-inf-img">
                <button class="img-addition">
                    <span class="icon"></span>
                </button>
                <div class="user-inf-container">
                    <div class="user-inf">
                        <span class="">Сергей Бондаренко</span>
                        <div class="country">
                            <span class="flag"></span>
                            <span class="">Краснодар</span>
                        </div>
                    </div>
                    <div class="star-container active">
                        <span class="star"></span>
                        <span class="stars-count">2</span>
                    </div>
                </div>
            </div>
            <div class="stars-swap-container">
                <div class="stars-labels">
                    <div class="star-container active">
                        <span class="star"></span>
                        <span class="stars-count">2</span>
                    </div>
                    <div class="star-container">
                        <span>3000</span>
                        <span class="star"></span>
                        <span class="stars-count">3</span>
                    </div>
                </div>
                <label class="slider-container">
                    <div class="slider-track">
                        <div class="main-track">
                            <div class="slider-runnable-track"></div>
                        </div>
                        <span class="swapper">2500</span>
                    </div>
                    <input type="range" class="swap-slider">
                </label>
            </div>
            <div class="stars-swap-container">
                <div class="stars-labels">
                    <div class="star-container active">
                        <span class="friends"></span>
                        <span class="">Друзья: 0</span>
                    </div>
                    <div class="star-container">
                        <span class="observers"></span>
                        <span class="">Подписчики: 0</span>
                    </div>
                </div>

            </div>

        </div>
        <div class="addition-inf">
            <button class="bordered-item">
                <span class="">скрыть подробности</span>
            </button>
            <!-- <%= _.template(require('./includes/person-information-list.html').default)() %> -->
            <!--<%= _.template(require('./includes/personal-information.html').default)() %>-->
            <%= _.template(require('./includes/coments-information.html').default)() %>
        </div>
    </main>
</section>

<section class="added">
    <!--<%= _.template(require('./includes/notifications-area.html').default)() %>-->
    <!--<%= _.template(require('./includes/comments-information-list.html').default)() %>-->
    <!--<%= _.template(require('./includes/preferensis-general.html').default)() %>-->
    <!--<%= _.template(require('./includes/preferensis-privacy.html').default)() %>-->
    <%= _.template(require('./includes/preferensis-notifications.html').default)() %>
    <!--<%= _.template(require('./includes/skills.html').default)() %>-->
    <!--<%= _.template(require('./includes/education.html').default)() %>-->
    <!--<%= _.template(require('./includes/careere.html').default)() %>-->
</section>
<nav class="main-navigation-mobile">
    <button class="item">
        <span class="burger"></span>
    </button>
    <ul class="nav-mobile-list">
        <li>
            <a class="friends" href="#"></a>
        </li>
        <li>
            <a class="messenger" href="#"></a>
        </li>
        <li>
            <a class="pref" href="#"></a>
        </li>
    </ul>
    <button class="item">
        <span class="points"></span>
    </button>
</nav>
<div class="popap-background">
    <div class="img-popup-container">
        <img class="image" alt="user-icon" src=<%=require("../public/images/big_img.png").default%> >
        <div class="middle">
        </div>
    </div>
    <div class="popap-container">
        <div class="popap-item">
            <span class="text-gray">Изменить аватар</span>
            <button class="close"></button>
        </div>
        <ul class="teams-list">
            <li class="">
                <a class="button-link" href="#">
                    <span class="upload" ></span>
                    <span class="nav-item-name">Загрузить файл</span>
                </a>
            </li>
            <li class="">
                <a class="button-link" href="#">
                    <span class="trash-r"></span>
                    <span class="nav-item-name attention">Удалить аватар</span>
                </a>
            </li>
            <li class="inf-text">
                <div class="item">
                    <span>Максимальный размер изображения 1000x1000px</span>
                </div>
                <div class="item">
                    <p>Изображения загруженные других истояников могут быть защищены авторскими правами.
                        Старайтесь использовать личные изображения и фотографии
                    </p>
                </div>
            </li>
            <li class="">
                <a class="button-link" href="#">
                    <span class="download" ></span>
                    <span class="nav-item-name">Загрузить файл</span>
                </a>
            </li>
        </ul>
    </div>

</div>

</body>
</html>