$bg-gradient_light: linear-gradient(147.75deg, #E7A4FF 0%, #001AFF 100%);
$bg-main_light: #FFFFFF;
$bg-button_light: #1F1A2D;
$bg-not-active_light: #818697;
$bg-blue_light: #366EFF;
$bg-select-button: #8AABFF;

$br-head-bottom_light: #DCDDE0;
$br-gray-border_light: rgba(160, 168, 200, 0.5);
$br-light-gray: #EBEBEB;

$ft-main-blue_light: #0047FF;
$ft-added_light: #1F1A2D;
$ft-attention-red_light: #FF0000;
$ft-not-active_light: #818697;
$ft-addition-blue_light: #366EFF;
$ft-gradient_light: linear-gradient(90.01deg, #366EFF 0.01%, #FA00FF 49.61%, #FF3D00 99.21%);
$ft-inverse_light: #FFF;



$bg-gradient_dark: linear-gradient(147.75deg, #00D1FF 0%, #000F9A 100%);
$bg-main_dark: #1D1928;
$bg-button_dark: #FFF;
$bg-not-active_dark: #818697;
$bg-blue_dark: #366EFF;

$br-head-bottom_dark: #DCDDE0;
$br-gray-border_dark: rgba(160, 168, 200, 0.5);

$ft-main-blue_dark: #0047FF;
$ft-added_dark: #FFF;
$ft-attention-red_dark: #FF0000;
$ft-not-active_dark: #818697;
$ft-addition-blue_dark: #366EFF;
$ft-gradient_dark: linear-gradient(90.01deg, #366EFF 0.01%, #FA00FF 49.61%, #FF3D00 99.21%);
$ft-inverse_dark: #FFF;




$themes: (
        default: (
                bg-gradient: $bg-gradient_light,
                bg-main: $bg-main_light,
                bg-button:$bg-button_light,
                bg-not-active: $bg-not-active_light,
                bg-blue: $bg-blue_light,
                br-head-bottom: $br-head-bottom_light,
                br-gray-border: $br-gray-border_light,
                ft-main-blue: $ft-main-blue_light,
                ft-added: $ft-added_light,
                ft-inverse: $ft-inverse_light,
                ft-not-active: $ft-not-active_light
        ),
        dark: (
                bg-gradient: $bg-gradient_dark,
                bg-main: $bg-main_dark,
                bg-button:$bg-button_dark,
                bg-not-active: $bg-not-active_dark,
                bg-blue: $bg-blue_dark,
                br-head-bottom: $br-head-bottom_dark,
                br-gray-border: $br-gray-border_dark,
                ft-main-blue: $ft-main-blue_dark,
                ft-added: $ft-added_dark,
                ft-inverse: $ft-inverse_dark,
                ft-not-active: $ft-not-active_dark
        ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
