.logo-container {
  display: flex;
  height: 100%;
  width: 228px;
  padding-left: 30px;
  align-items: center;

  @include media-breakpoint-only(xs) {
    display: none;
  }

  @include media-breakpoint-down(sm) {
    width: auto;
  }
}

.main-logo {
  margin-right: 21px;
  height: fit-content;

}

.switch-container {
  display: flex;
  gap: 5px;

  @include media-breakpoint-between(xs, sm) {
    display: none;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 15px;

  input {
    display: none;
  }
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(134, 154, 227, 0.3);
  -webkit-transition: .4s;
  transition: .4s;

  @include media-breakpoint-only(xs) {
    background-color: $bg-button_light;
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 2px 2px 5px #4378FF;

  @include media-breakpoint-only(xs) {
    box-shadow: none;
  }
}

input:checked + .slider {

}

input:focus + .slider {

}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}


.user-pref-container {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  max-width: 75%;
  order: 0;

  @include media-breakpoint-only(xs) {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.user-container {
  display: flex;
  align-items: center;
  gap: 10px;

  @include media-breakpoint-only(xs) {
    justify-content: space-between;
    width: 100%;
  }
}

.user {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;

  @include media-breakpoint-only(xs) {
    height: 30px;
    width: 30px;
  }
}

.pref-container {
  display: flex;
  gap: 5px;

  @include media-breakpoint-only(xs) {
    display: none;
  }

  @include main-blue-text;

}

.bell-container {
  display: flex;
  gap: 4px;
  cursor: pointer;

  @include media-breakpoint-only(xs){
    padding: 5px 10px;
    background-color: red;
    border-radius: 20px;
  }
}

.bell-theme-container {
  display: flex;
  align-items: center;

  .switch-container {
    display: none;
  }

  @include media-breakpoint-only(xs) {
    gap: 25px;

    .switch-container {
      display: flex;
      gap: 10px;
    }
  }
}

.bell-point-container {
  position: relative;
  width: 16.81px;
  height: 17px;

  .bell {
    z-index: 1;
  }

  .bell-point {
    position: absolute;
    width: 8.17px;
    height: 8.17px;
    left: 8.63px;
    top: 2.04px;

    background: #FF0000;
    @include themed() {
      border-color: t(bg-main);
    }
    border: 1px solid;
    border-radius: 100%;
    z-index: 2;

    @include media-breakpoint-only(xs) {
      display: none;
    }
  }
}