@mixin icons {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.eye {
  @include icons;
  width: 22px;
  height: 15px;
  margin-left: 10px;
  background-image: url("/images/header/eye.svg");
}

.sun {
  @include icons;
  width: 16px;
  height: 15px;
  background-image: url("/images/header/sun.svg");

  @include media-breakpoint-only(xs) {
    background-image: url("/images/header/sun_m.svg");
    height: 16px;
  }
}

.moon {
  @include icons;
  width: 10px;
  height: 15px;
  background-image: url("/images/header/moon.svg");

  @include media-breakpoint-only(xs) {
    background-image: url("/images/header/moon_m.svg");
    width: 10px;
    height: 16px;
  }
}

.bell {
  @include icons;
  width: 17px;
  height: 17px;
  background-image: url("/images/header/bell.svg");

  @include media-breakpoint-only(xs) {
    width: 16px;
    height: 18px;
    background-image: url("/images/header/bell_m.svg");
  }
}

.pref {
  @include icons;
  width: 17px;
  height: 17px;
  background-image: url("/images/header/preferensis.svg");

}

.burger {
  @include icons;
  width: 31px;
  height: 17px;
  background-image: url("/images/navigation/burger.svg");
}

.points {
  @include icons;
  width: 17px;
  height: 17px;
  background-image: url("/images/navigation/points.svg");
}

.profile {
  @include icons;
  width: 17px;
  height: 17px;
  background-image: url("/images/navigation/profile.svg");
}

.friends {
  @include icons;
  width: 17px;
  height: 17px;
  background-image: url("/images/navigation/profile.svg");
}

.dashboard {
  @include icons;
  width: 17px;
  height: 17px;
  background-image: url("/images/navigation/dashboard.svg");
}

.my-contacts {
  @include icons;
  width: 17px;
  height: 17px;
  background-image: url("/images/navigation/my_contacts.svg");
}

.messenger {
  @include icons;
  width: 17px;
  height: 17px;
  background-image: url("/images/navigation/messenger.svg");
}

.achievements {
  @include icons;
  width: 17px;
  height: 17px;
  background-image: url("/images/navigation/achievements.svg");
}

.star {
  @include icons;
  width: 18px;
  height: 18px;
  background-image: url("/images/main/star_g.svg");
}

.flag{
  @include icons;
  width: 19px;
  height: 15px;
  background-image: url("/images/main/flag.png");
}

.observers{
  @include icons;
  width: 18px;
  height: 18px;
  background-image: url("/images/main/observers.svg");
}

.edit {
  @include icons;
  width: 18px;
  height: 18px;
  background-image: url("/images/added/edit.svg");
}

.close {
  @include icons;
  width: 13px;
  height: 13px;
  background-image: url("/images/added/close.svg");
}

.big-close {
  @include icons;
  width: 23px;
  height: 23px;
  background-image: url("/images/added/big_close.svg");
}

.arrow {
  @include icons;
  width: 14px;
  height: 8px;
  background-image: url("/images/added/arrow.svg");
}

.arrow-left {
  @include icons;
  width: 8px;
  height: 15px;
  background-image: url("/images/added/arrow-left.svg");
}

.arrow-right {
  @include icons;
  width: 8px;
  height: 15px;
  background-image: url("/images/added/arrow-right.svg");
}

.trash {
  @include icons;
  width: 16px;
  height: 16px;
  background-image: url("/images/added/trash.svg");
}

.trash-r {
  @include icons;
  width: 16px;
  height: 16px;
  background-image: url("/images/added/trash_r.svg");
}

.change {
  @include icons;
  width: 14px;
  height: 16px;
  background-image: url("/images/added/change.svg");
}

.point {
  @include icons;
  width: 14px;
  height: 18px;
  background-image: url("/images/added/point.svg");
}

.download {
  @include icons;
  width: 17px;
  height: 19px;
  background-image: url("/images/added/download.svg");
}

.upload {
  @include icons;
  width: 17px;
  height: 19px;
  background-image: url("/images/added/upload.svg");
}

.microphone {
  @include icons;
  width: 14px;
  height: 15px;
  background-image: url("/images/added/microphone.svg");
}

.mini-points {
  @include icons;
  width: 3px;
  height: 12px;
  background-image: url("/images/added/mini-points.svg");
}

.like {
  @include icons;
  width: 18px;
  height: 18px;
  background-image: url("/images/added/like.svg");
}

.dislike {
  @include icons;
  width: 18px;
  height: 18px;
  background-image: url("/images/added/dislike.svg");
}

.forward {
  @include icons;
  width: 18px;
  height: 18px;
  background-image: url("/images/added/forward.svg");
}

.comment {
  @include icons;
  width: 18px;
  height: 18px;
  background-image: url("/images/added/comment.svg");
}

.date {
  @include icons;
  width: 14px;
  height: 18px;
  background-image: url("/images/added/date.svg");
}

.add {
  @include icons;
  width: 21px;
  height: 21px;
  background-image: url("/images/added/add.svg");
}

.calendar {
  @include icons;
  width: 18px;
  height: 18px;
  background-image: url("/images/added/calendar.svg");
}
