.main-navigation {

  @include media-breakpoint-only(xs){
    display: none;
  }
}

.nav-list {
  @include no-list;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 30px;
  gap: 30px;

  .button-link {
    gap: 12px;
    cursor: pointer;
  }

  li {
    display: flex;

    .nav-item-name {
      color: $ft-not-active_light;
    }

    @include media-breakpoint-down(sm){
      .nav-item-name {
        display: none;
      }
    }

    .profile {
      background-image: url("/images/navigation/profile_g.svg");
    }
    .dashboard {
      background-image: url("/images/navigation/dashboard_g.svg");
    }
    .my-contacts {
      background-image: url("/images/navigation/my_contacts_g.svg");
    }
    .achievements {
      background-image: url("/images/navigation/achievements_g.svg");
    }
    .messenger {
      background-image: url("/images/navigation/messenger_g.svg");
    }
  }

  li.active {

    span {
      color: $ft-main-blue_light;
    }

    .profile {
      background-image: url("/images/navigation/profile.svg");
    }
    .dashboard {
      background-image: url("/images/navigation/dashboard.svg");
    }
    .my-contacts {
      background-image: url("/images/navigation/my_contacts.svg");
    }
    .achievements {
      background-image: url("/images/navigation/achievements.svg");
    }
    .messenger {
      background-image: url("/images/navigation/messenger.svg");
    }
  }
}

.main-navigation-mobile {
  @include themed() {
    background-color: t(bg-main);
  }
  display: none;
  flex-direction: row;
  height: 57px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  will-change:transform;
  transform: translateZ(0);

  @include media-breakpoint-only(xs) {
    display: flex;
  }

  .item {
    padding: 20px 15px;
    display: flex;
    align-items: center;
  }
}

.nav-mobile-list {
  @include no-list;
  border-left: 1px solid $br-light-gray;
  border-right: 1px solid $br-light-gray;
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;

  li {
    padding: 20px 0;
    display: flex;
    align-items: center;
  }
}
