.enter-page {
  background-image: url("/images/registration/reg-back.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;

  @include media-breakpoint-down(md) {
    padding: 20px;
  }
}

.main-enter-form {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.enter-form-container {
  max-width: 476px;
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(50px);
  padding: 30px;
  border-radius: 10px;

  .buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 15px;

    .secondary-button {
      width: fit-content;
      padding-left: 0;
      padding-right: 0;
      background-color: transparent;
    }
  }
}

.enter-form {
  display: flex;
  flex-direction: column;


  &>:not(:last-child) {
    margin-bottom: 15px;
  }
}

.career-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;


  &>:not(:last-child) {
    margin-bottom: 15px;
  }
}


.code-form-container {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(50px);
  padding: 30px;
  border-radius: 10px;
}

.code-form {
  display: flex;

  &>:not(:last-child) {
    margin-right: 15px;
  }
}

.choose-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}